<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167574687935-9frrmnqp7efu0nfql5l343j71ghra1i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167574687935-9frrmnqp7efu0nfql5l343j71ghra1i2</string>
	<key>API_KEY</key>
	<string>AIzaSyDpwog7mIuumSm1_nadMZmBNK8Z6FdZJ4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>167574687935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedKarmout.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-cd058</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-cd058.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167574687935:ios:a54cda1dfce52db4a7f60a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-cd058.firebaseio.com</string>
</dict>
</plist>